<!DOCTYPE HTML>
<div id="gitalk-wrapper">
	<div id="chat-wrapper" ng-app="gitalk" ng-csp>
		<div id="bar">
			<span>Chatting in:<span id="repo-title"></span></span>
			<span id="open-close" class="open">^</span>
		</div>
		<div id="chat-container" ng-controller="chatController">
			<div id="chat">
				<ul>
					<li ng-cloak ng-repeat="message in messages">
						<span class="user">{{message.from}}:</span> {{message.text}}
					</li>
				</ul>
			</div>
			<div id="usernames" >
				<ul >
					<li class="username" ng-repeat="user in users">{{user.name}}</li>
				</ul>
			</div>
			<form id="text_entry" ng-submit="addMessage()">
				<input type="text" id="new_message" placeholder="type message here..." ng-model="message">
			</form>
		</div>
	</div>
</div>