.bar {
	background: #f8f8f8;
	position: fixed;
	z-index: 5000;
	bottom: -50;
	left: 0;
	display: block;
	height: 50px;
	width: 100%;
}

.bar.enter {
	-webkit-animation: enter 200 ease 1;
}

@-webkit-keyframes enter {
	0% {
		bottom: -40;
	}

	50% {
		opacity: -20;
	}

	75% {
		opacity: -10;
	}
}