#chat-wrapper {
	position: fixed;
	bottom: -302px;
	right: 0;
	width: 500px;
	z-index: 5000;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	-webkit-transition: all 200ms ease-in-out;\
	transition: all 200ms ease-in-out;
}
#chat-wrapper.active {
	bottom: 0;
	-webkit-transition: all 200ms ease-in-out;\
	transition: all 200ms ease-in-out;
}
#bar {
	background: #f8f8f8;
	display: block;
	height: 25px;
	width: 100%;
	line-height: 25px;
}
#bar span {
	padding-left: 10px;
}
#open-close {
	float: right;
	margin-right: 10px;
	width: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-indent: -9999px;
}
#open-close:hover{
	background-color:#ccc;
	text-shadow: 0 1px 0 #eee;
	cursor: pointer;
}
#chat-container {
	position: relative;
	border: 1px solid #ddd;
	bottom: 0;
	width: 100%;
	font-size: .8em;
	height: 300px;
	overflow: hidden;
}
#chat {
	height: 265px;
	width: 70%;
	background: #f6f6f6;
	overflow: auto;
}
#chat li {
	padding-top: 5px;
}
#chat .user{
	font-style: italic;
	font-weight: bold;
}
#usernames {
	position: absolute;
	width: 30%;
	right: 0;
	top: 0;
	overflow: auto;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	padding-left: 10px;
	list-style: none;
	display: block !important;
}
#new_message{
	display: block;
	border: 0;
	width:100%;
	padding-left: 4px;
	padding-right: 4px;
	height: 30px;
	font-size: 1.2em;
}
#text_entry {
	border-top: 1px solid #ddd;
	bottom: 0;
}